---
layout: default
---
<div class="markdown-body">
 <div id = "section">
   <h1 {% if site.style == 'dark' %}class="text-white"{% endif %}>Research Projects</h1>
   <div id = "subsection1">
     <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Spring Semester Research Internship (Jan '22 -- Present)</h2>
    <b>Advisor:</b> <a href = "https://che.iitm.ac.in/sumesh/?limit=2">Prof. Sumesh P. Thampi</a> (Department of Chemical Engineering, IIT Madras)
    <b>Topic:</b> Hydrodynamic Interactions of Microswimmers Within Confined Channels.
    
   </div>
 </div>
</div>  
    


