---
layout: default
---
<div class="markdown-body">
 <div id = "section">
   <h1 {% if site.style == 'dark' %}class="text-white"{% endif %}>Research Projects</h1>
   <div id = "subsection1">
     <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Spring Semester Research Internship (Jan '22 -- Present)</h2>
     <b>Advisor:</b> <a href = "https://che.iitm.ac.in/sumesh/?limit=2">Prof. Sumesh P. Thampi</a> (Department of Chemical Engineering, IIT Madras)<br>
     <b>Topic:</b> Hydrodynamic Interactions of Microswimmers Within Confined Channels.
     <ul>
      <li><p><font align="justify>Exploring swimming at low Reynolds number; various frameworks for modelling flagellar swimming of microorganisms, namely, Taylor’s swimming sheet and slender body theory; ciliary propulsion using Lamb’s general solution and reciprocal theorem; mathematical framework necessary for the far-field description of a swimmer using Stokeslet and Stokes dipole; </font></p></li>
      <li><p><font align="justify>Numerically implementing the above mathematical frameworks and models in MATLAB to replicate some of the results already available in the literature.</font></p></li>
      <li>The goal is to explore and analyse the trajectories of one or more microorganisms interacting pairwise near a flat wall inside a three-dimensional channel using Lattice Boltzmann simulations.</li>
     </ul>
   </div>
 </div>
</div>  
    


