<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About me</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">I am a third-year Chemical Engineering undergraduate student at Sant Longowal Institute of Engineering and Technology, Punjab.</p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">I am a research enthusiast with a strong research background in mathematics, and a major part of my current research interests broadly lie in the areas of PDEs, Dynamical Systems, CFD, Microfluidics, Complex Fluids, and Soft & Active Matter. My other research interests lie in the areas of Commutative Algebra, Galois Theory, Algebraic Number Theory, Representation Theory, and Algebraic Geometry.</p>
<div class="d-flex flex-wrap gutter-condensed mb-4">
  {% for topic in site.topics %}
    <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      {% include topic-card.html %}
    </div>
  {% endfor %}
</div>
